<% include ./hf/header.ejs %>
<div class="page-content">
    <div data-height="cover-header" class="caption bottom-0">
        <div class="caption-center">
            <div class="content-boxed left-40 right-40">
                <div class="content top-20 bottom-40">
                    <h1 class="center-text uppercase ultrabold fa-3x">KISA-PAY</h1>
                    <p class="center-text font-11 under-heading bottom-30 color-highlight">
                        금융위 API 를 활용한 실습
                    </p>
                        <div class="input-style has-icon input-style-1 input-required">
                            <i class="input-icon fa fa-user font-11"></i>
                            <span>Username</span>
                            <em>(required)</em>
                            <input type="name" id="nameInput" placeholder="Username">
                        </div>
                        <div class="input-style has-icon input-style-1 input-required">
                                <i class="input-icon fas fa-birthday-cake font-11"></i>
                                <span>Birth</span>
                                <em>(required)</em>
                                <input type="birth" id="birthInput" placeholder="Birth">
                            </div> 
                        <div class="input-style has-icon input-style-1 input-required">
                            <i class="input-icon fa fa-at"></i>
                            <span>Email</span>
                            <em>(required)</em>
                            <input type="email" id="emailInput" placeholder="Email">
                        </div>   

                        <div class="input-style has-icon input-style-1 input-required">
                            <i class="input-icon fa fa-at"></i>
                            <span>access token</span>
                            <em>(required)</em>
                            <input type="text" id="accessToken" placeholder="accessToken">
                        </div>
                        <div class="input-style has-icon input-style-1 input-required">
                            <i class="input-icon fa fa-at"></i>
                            <span>refresh token</span>
                            <em>(required)</em>
                            <input type="text" id="refreshToken" placeholder="refreshToken">
                        </div>        
                        <div class="input-style has-icon input-style-1 input-required">
                            <i class="input-icon fa fa-at"></i>
                            <span>userId</span>
                            <em>(required)</em>
                            <input type="text" id="userseqnum" placeholder="userseqnum">
                        </div>    

                        <div class="input-style has-icon input-style-1 input-required">
                            <i class="input-icon fa fa-lock font-11"></i>
                            <span>Password</span>
                            <em>(required)</em>
                            <input type="password" id="passInput" placeholder="Choose a Password">
                        </div>          
                        <div class="input-style has-icon input-style-1 input-required">
                            <i class="input-icon fas fa-phone font-11"></i>
                            <span>Phone</span>
                            <em>(required)</em>
                            <input type="phone" id="phoneInput" placeholder="Phone">
                        </div>   

                    <div class="clear"></div>
                   <a href="http://localhost:3000/login" class="opacity-50 text-center font-11 top-30">이미 회원이신가요? 로그인!</a>
                   <button type="button" id="authBtn" class="button button-full button-m shadow-large button-round-small bg-highlight top-30 bottom-0">인증받기</button>
                   <a href="#" id="joinBtn" class="back-button button button-full button-m shadow-large button-round-small bg-highlight top-30 bottom-0">CREATE ACCOUNT</a>
                    </div>
            </div>


        </div>
    </div>

</div>
<!-- Page Content Class Ends Here-->
<script>
    $("#authBtn").click(function() {
        var client_id = "l7xx697de99a02da4106a23d66c1d088e83a";
        var redirect_uri ="http://localhost:3000/authResult";
        var scope = "login inquiry transfer";
        var response_type ="JSON";
        var qs = 
        "?response_type=code&"
        + "client_id="+client_id+"&"
        + "redirect_uri=http://localhost:3000/authResult&"
        + "scope="+scope+"&"
        + "auth_type=0&"
        + "invoke_type=ajax"

        $.ajax({
            url:'https://testapi.open-platform.or.kr/oauth/2.0/authorize2'+qs,
            type : 'GET',
            success:function(data){
                console.log(data.location);
                var tmpwindow = window.open("about:blank");
                tmpwindow.location = data.location;
            }
        })
    })

    $("#joinBtn").click(function() {
       // alert($("#nameInput").val());
       $.ajax({
           url:'http://localhost:3000/join',
           type : 'POST',
           data : {
               name : $("#nameInput").val(),
               birth : $("#birthInput").val(),
               email : $("#emailInput").val(),
               password : $("#passInput").val(),
               phone : $("#phoneInput").val(),
               accessToken : $("#accessToken").val(),
               refreshToken : $("#refreshToken").val(),
               userseqnum : $("#userseqnum").val(),
           },
           success:function(data){
               alert(data);
           }
       })
   });
</script>

<% include ./hf/footer.ejs %>